<h2>Template: Switches</h2>
<hr>
<form #miFormulario="ngForm">
    <!-- RADIO -->
<div class="row mb-3">
    <label class="col-sm-3 col-form-label">Genero</label>
    <div class="col-sm-9">
        <!-- Pego del bootstrap -->
        <div class="form-check">
            <input class="form-check-input" type="radio" name="radioGenero" id="radioMasculino" 
                    value="M" [(ngModel)]="persona.genero" required>
            <label class="form-check-label" for="radioMasculino">
            Masculino
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="radioGenero" id="radioFemenino" 
                    value="F" [(ngModel)]="persona.genero" required>
            <label class="form-check-label" for="radioFemenino">
            Femenino
            </label>
        </div>
    </div>
</div>
    <!-- SWITCHES -->
<div class="row mb-3">
    <label class="col-sm-3 col-form-label">Notificaciones</label>
    <div class="col-sm-9">
        <!-- Pego del bootstrap -->
        <div class="form-check form-switch mt-2">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked 
                    [(ngModel)]="persona.notificaciones" name="notificaciones">
            <label class="form-check-label" for="flexSwitchCheckChecked">Quiero recibir notificaciones</label>
        </div>
    </div>
</div>    
<!-- CHECKS -->
<div class="row mb-3">
    <label class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <!-- Pego del bootstrap -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                    [(ngModel)]="terminosYCondiciones" name="terminosYCondiciones" required>
            <label class="form-check-label" for="flexCheckDefault">
                Terminos y condiciones de uso
            </label>
          </div>
    </div>
</div>
<!-- BOTON SUBMIT-->
<div class="row mb-3">
    <label class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
       <button class="btn btn-primary float-end" [disabled]="miFormulario.invalid">Guardar</button> 
    </div>
</div>        
</form>

<h5>Valor del formulario</h5>
<pre>{{miFormulario.value | json}}</pre>
<br>
<h5>Persona</h5>
<pre>{{persona | json}}</pre>
<br>
<h5>Valido</h5>
<pre>{{miFormulario.valid}}</pre>
<br>
<h5>Condiciones</h5>
<pre>{{terminosYCondiciones}}</pre>
<br>
<h5>Terminos_Errores especifivos</h5>
<!-- <pre>{{miFormulario.controls['terminosYCondiciones']!.errors | json}}</pre> -->


